body{
    background-color:rgb(59, 44, 10);
}
.grid-container{
    display: grid;
    grid-template-columns: 20% 10% 10% 20% 20% 20%;
    grid-auto-rows:minmax(150px,auto);
    grid-gap: 20px;
}
.header{
    box-shadow: 10px 10px 10px 0px black;
    height: 200px;
    grid-column-start: 2;
    grid-column-end: 6;
    background-color:rgb(61, 41, 15);
    border-radius: 30px;
}
.header img{
    margin-top: 5px;
    height: 100%;
    width: 100%;
    border-radius: 20px;

}
.options{
    box-shadow: 10px 10px 10px 0px black;
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start: 2;
    grid-row-end: 5;
    border-radius: 30px;
    background-color:white;
}
.options img{
    height: 80px;
    width: 100%;
}
.options-container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;

}
.inf{
    box-shadow: 10px 10px 10px 0px black;
    background-color:white ;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 30px;
}
.contact-container{
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.contact h2:hover {
    box-shadow: 10px 10px 10px 10px rgb(197, 153, 8);
    font-size: 20px;
}
.copyright{
    margin-top: 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#circle{
    box-shadow: 15px 5px 15px 0px black;
    position:absolute;
    margin-top: 800px;
    opacity: 0.9;
    bottom: 0; 
    height: 200px; 
    width: 500px; 
    border-radius: 0px 150px 0px 0px; 
    background-color: chocolate; 
    border-bottom-left-radius: 30px;
    
}
.contenu{
    position: relative;
    box-shadow: 10px 10px 10px 0px black;
    background-color:rgb(255, 255, 255) ;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 6;
    border-radius: 30px;
    
}
#contenu-img{
    border: 30px;
    border-bottom-style: dashed;
    border-block-width: 5px;
    border-radius: 30px 30px 150px 150px;
    background-color: chocolate;
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px black;
    width: 100%;
   
}
/* contenu form */
#form2{
    display: grid;
    grid-template-columns:4% 23% 23% 23% 23% 4% ;
    grid-template-rows: 40px 30px 300px 30px 290px;
    grid-gap: 2px;
    background-color: white;
    border-radius: 18px;
}
.btn{
    border-radius: 8px;
    background-color: chocolate;
    padding: 4px;
    font-style: oblique;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(250, 196, 17);
}
#titre{
    font-weight: bolder;
    font-style: oblique;
    text-decoration: aliceblue;
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    font-size:xx-large;
    justify-content: center;
 
}
#btnA-container{
    margin-top: 5px;
    grid-column-start:2 ;
    grid-column-end: 3;
}
#btnB-container{
    margin-top: 5px;
    grid-column-start:4 ;
    grid-column-end: 5;
}
#A-container{
    background-color: rgb(189, 137, 25);
    grid-column-start:2 ;
    grid-column-end: 4;
    border: 1px solid black;
    border-radius: 10px;  
}
#B-container{
    background-color: rgb(189, 137, 25);
    border: 1px solid black;
    grid-column-start:4;
    grid-column-end: 6;
    border-radius: 10px;  
}
#btnCalculer-container{
    margin-bottom: 5px;
    grid-column-start:2 ;
    grid-column-end: 4;
}
#Resultat-container{
    margin-bottom: 2px;
    background-color: rgb(189, 137, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-row-start:5 ;
    grid-row-end: 6;
    grid-column-start:2 ;
    grid-column-end: 6;
    border-radius: 10px; 
}
#Q-container{
    margin-bottom: 2px;
    background-color: rgb(189, 137, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-row-start:5 ;
    grid-row-end: 6;
    grid-column-start:2 ;
    grid-column-end:4;
    border-radius: 10px;
}
#R-container{
    margin-bottom: 2px;
    background-color: rgb(189, 137, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    grid-row-start:5 ;
    grid-row-end: 6;
    grid-column-start:4 ;
    grid-column-end: 6;
    border-radius: 10px;
}
/*pour la martice*/
.matrice{
    margin-left: 10px;
    margin-top: 10px;
    border-left:5px solid black;
    border-right: 5px solid black;
    box-shadow: 0px 0px 0px 1px black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}    
#parent{
    display: flex;
}
.input{
    height: 26px;
    width: 26px; 
    background-color: azure;      
}
.output{
    text-align: center;
    height: 25px;
    width: 60px;
    background-color: rgb(229, 241, 241);
    outline: 1px solid #000;
    display: inline-block;
}
#Resultat{
    order: 2;
    margin-top: 15px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#note{
    visibility:collapse;
    height:0px;
}

@media only screen and (max-width: 1200px) {
   #note{
       visibility:visible;
   }
   .grid-container{
       visibility:hidden;
   }

} 
